# Project
node_modules
*.exe
bin
data
coverage
.secrets.yaml
artifacts
.terraform
*.tfplan
*.tfstate*

# OS
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
